{% load static %}
{% load static %}
<!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-dark  w3-theme-d5 fixed-top">
<a href="{% url 'index' %}"><img src="{% static 'images/bee.jpg' %}" class="logo w3-circle" alt="" style="width:50px; height:50px;"> </a> 
    <a class="navbar-brand w3-text-amber" href="{% url 'index' %}">Fabricourt</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav w3-half">
            <li
              {% if '/' == request.path %}
                class="nav-item active mr-3"
              {% else %}
                class="nav-item mr-3"
              {% endif %}
            >
              <a class="nav-link" href="{% url 'index' %}">Home</a>
            </li>
            <li
              {% if 'about' in request.path %}
                class="nav-item active mr-3"
              {% else %}
                class="nav-item mr-3"
              {% endif %}
            >
              <a class="nav-link" href="{% url 'about' %}">How it Works</a>
            </li>
     
            <li
              {% if 'post-create' in request.path %}
                class="nav-item active mr-3"
              {% else %}
                class="nav-item mr-3"
              {% endif %}
            >
              <a class="nav-link" href="{% url 'post-create' %}">Create Resume</a>
            </li>
          </ul>
          <ul class="w3-quarter">

          </ul>
    
          <ul class="navbar-nav w3-quarter ml-auto">
            {% if user.is_authenticated %}
            <li
              {% if 'profile' in request.path %}
                class="nav-item active mr-3"
              {% else %}
                class="nav-item mr-3"
              {% endif %}
            >
              <a class="nav-link" href="{% url 'profile' %}">Profile</a>
            </li>
      
              <li class="nav-item mr-3">
                <a href="javascript:{document.getElementById('logout').submit()}" class="nav-link">
                  <i class="fas fa-sign-out-alt w3-text-amber"></i> Logout
                </a>
                <form action="{% url 'logout' %}" method="POST" id="logout">
                  {% csrf_token %}
                  <input type="hidden">
                </form>
              </li>
            {% else %}
              <li
              {% if 'register' in request.path %}
                class="nav-item active mr-3"
              {% else %}
                class="nav-item mr-3"
              {% endif %}
              >
                <a class="nav-link" href="{% url 'register' %}">
                  <i class="fas fa-user-plus w3-text-amber"></i> Register</a>
              </li>
              <li
              {% if 'login' in request.path %}
                class="nav-item active mr-3"
              {% else %}
                class="nav-item mr-3"
              {% endif %}
              >
                <a class="nav-link" href="{% url 'login' %}">
                  <i class="fas fa-sign-in-alt w3-text-amber"></i>
    
                  Login</a>
              </li>
         
            {% endif %}
          </ul>
    </div>
  </nav>

  <nav class="navbar navbar-expand-lg navbar-dark sticky-top w3-theme-d5 w3-hide">
    <a class="navbar-brand" href="{% url 'index' %}">
      <img src="{% static 'images/bee.jpg' %}" class="logo w3-circle" alt="" style="width:50px; height:50px;"> </a>
   <h3 class="w3-text-amber w3-panel w3-button w3-wide"><b>Fabricourt</b></h3>
      <h4 class="w3-hide w3-wide w3-xlarge "><span class="w3-black w3-text-amber  w3-hover-amber"><b class=>F</b></span><span class="w3-amber"><b>A</b></span><span class="w3-black w3-text-amber w3-hover-amber"><b>B</b></span><span class="w3-amber"><b>R</b></span><span class="w3-black w3-text-amber w3-hover-amber"><b>I</b></span><span class="w3-amber"><b>C</b></span><span class="w3-black w3-text-amber w3-hover-amber"><b>O</b></span><span class="w3-amber"><b>U</b></span><span class="w3-black w3-text-amber w3-hover-amber"><b>R</b></span><span class="w3-amber"><b>T</b></span></h4>
   
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav">
        <li
          {% if '/' == request.path %}
            class="nav-item active mr-3"
          {% else %}
            class="nav-item mr-3"
          {% endif %}
        >
          <a class="nav-link" href="{% url 'index' %}">Home</a>
        </li>
        <li
          {% if 'about' in request.path %}
            class="nav-item active mr-3"
          {% else %}
            class="nav-item mr-3"
          {% endif %}
        >
          <a class="nav-link" href="{% url 'about' %}">How it Works</a>
        </li>
 
        <li
          {% if 'post-create' in request.path %}
            class="nav-item active mr-3"
          {% else %}
            class="nav-item mr-3"
          {% endif %}
        >
          <a class="nav-link" href="{% url 'post-create' %}">Create Resume</a>
        </li>
      </ul>

      <ul class="navbar-nav  ml-auto">
        {% if user.is_authenticated %}
        <li
          {% if 'profile' in request.path %}
            class="nav-item active mr-3"
          {% else %}
            class="nav-item mr-3"
          {% endif %}
        >
          <a class="nav-link" href="{% url 'profile' %}">Profile</a>
        </li>
  
          <li class="nav-item mr-3">
            <a href="javascript:{document.getElementById('logout').submit()}" class="nav-link">
              <i class="fas fa-sign-out-alt"></i> Logout
            </a>
            <form action="{% url 'logout' %}" method="POST" id="logout">
              {% csrf_token %}
              <input type="hidden">
            </form>
          </li>
        {% else %}
          <li
          {% if 'register' in request.path %}
            class="nav-item active mr-3"
          {% else %}
            class="nav-item mr-3"
          {% endif %}
          >
            <a class="nav-link" href="{% url 'register' %}">
              <i class="fas fa-user-plus"></i> Register</a>
          </li>
          <li
          {% if 'login' in request.path %}
            class="nav-item active mr-3"
          {% else %}
            class="nav-item mr-3"
          {% endif %}
          >
            <a class="nav-link" href="{% url 'login' %}">
              <i class="fas fa-sign-in-alt"></i>

              Login</a>
          </li>
     
        {% endif %}
      </ul>
    </div>
  </nav>



  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script><script src="/docs/4.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>