<div class="w3-container w3-text-amber w3-round  w3-topbar w3-border-amber w3-theme-d5 w3-margin-bottom ">
    <h3 class="w3-center w3-text-amber">Linking You To The Best Workers</h3>
    <hr>
    <form action="{% url 'search' %}">
        
        <div class="form-group">
          <label class="sr-only">Keywords</label>
          <input type="text" name="keywords" class="form-control" placeholder="Keyword (search)">
        </div>
        <div class="form-group">
            <label class="sr-only">home</label>
            <input type="text" name="home" class="form-control" placeholder="Home Location" value="{{ values.home }}">
        </div>
        <div class="form-group">
            <label class="sr-only">Profession</label>
            <select name="profession" class="form-control">
            <option selected="true" disabled="disabled">Profession</option>
              {% for key,value in profession_choices.items %}
                <option value="{{ key }}">{{ value }}</option>
              {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label class="sr-only">County</label>
            <select name="county" class="form-control">
            <option selected="true" disabled="disabled">County</option>
              {% for key,value in county_choices.items %}
                <option value="{{ key }}">{{ value }}</option>
              {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label class="sr-only">Expirience</label>
            <select name="expirience" class="form-control">
              <option selected="true" disabled="disabled">Expirience</option>
              {% for key,value in expirience_choices.items %}
                <option value="{{ key }}">{{ value }}</option>
              {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label class="sr-only">Education Level</label>
            <select name="education_level" class="form-control">
              <option selected="true" disabled="disabled">Education Level</option>
              {% for key,value in education_level_choices.items %}
                <option value="{{ key }}">{{ value }}</option>
              {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label class="sr-only">College</label>
            <select name="college" class="form-control">
              <option selected="true" disabled="disabled">College</option>
              {% for key,value in college_choices.items %}
                <option value="{{ key }}">{{ value }}</option>
              {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <select name="age" class="form-control" id="type">
                <option selected="true" disabled="disabled">Age</option>
                {% for key,value in age_choices.items %}
                <option value="{{ key }}">{{ value }}</option>
              {% endfor %}
              </select>
        </div>
    <button class="btn w3-theme-l1 btn-block w3-hover-amber mt-4 w3-margin-bottom" type="submit">Search</button>
  </form>
</div>
   