{% extends 'base.html' %}

{% load static %}

{% block title %} | Search Workforce {% endblock %}

{% block content %}


<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-signal.css">

<!-- Page Container -->

<div class="w3-container w3-content" style="max-width:1400px;margin-top:20px">    
  <!-- The Grid -->
  <div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m3">
      
      <!-- Profile -->
      <div class="w3-card w3-white  ">
          {% include 'partials/_searchbar.html' %} 
        
        
      </div>
      <br>
      <!-- Accordion -->
      {% include 'partials/_leftbar.html' %} 
    <!-- End Left Column -->
    </div>
    

    <!-- Middle Column -->
    <div class="w3-col m7">
      
        <div class="w3-row-padding">

          <div class="w3-col m12">
            <div class="w3-card  w3-round w3-white w3-topbar w3-border-amber">
              <div class="w3-container w3-theme-d5 w3-padding">
               <h3 class="w3-center w3-text-amber">Search Workforce</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="w3-container w3-white w3-round "><br>
          <img src="{% static 'images/slider-image1.jpg' %}" style="width:100%" class="w3-margin-bottom">
            <ul class="w3-ul w3-container w3-theme-l4 w3-margin-bottom w3-shadow">
                <img src="{% static 'images/bee.jpg' %}"  alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
              
                {% for post in posts %}
                <li class="w3-bar w3-white w3-card w3-margin-bottom w3-hover-shadow w3-white w3-border-white">
                 
                    <span onclick="this.parentElement.style.display='none'" class="w3-bar-item w3-button w3-theme-l5 w3-hover-none w3-xlarge w3-right">×</span>
                      <div class="w3-bar-item w3-third">
                        <img src="{{ post.name.profile.image.url }}" class="w3-bar-item w3-hide-small w3-circle " style="width:100px;">
                      </div>
                    <a class="mr-2" href="{% url 'post-detail' post.id %}" style="text-decoration:none;">
                      <div class="w3-twothirds  w3-small">
                            <span class="w3-normal"><b>{{ post.name.first_name|capfirst }} {{ post.name.last_name|capfirst }}</b></span><br>
                            <span>Profession: {{ post.profession|capfirst }}</span>/
                            <span>Age:{{ post.age }}Yrs</span>/    
                            <span>Expirience: {{ post.expirience }}Yrs</span>/ 
                            <span>Education Level: {{ post.education_level|capfirst }}</span>/ 
                            <span>College: {{ post.college|capfirst }}</span><br>
                            <span>County: {{ post.county|capfirst }}</span>/
                            <span>Posted: {{ post.date_posted }}</span> 

                          </a>    
                      </div> 
                 
                </li>            
              {% endfor %}
             

              <div class="row">
                <div class="col-md-12">
                  {% if posts.has_other_pages %}
                    <ul class="pagination">
                      {% if posts.has_previous %}
                        <li class="page-item">
                          <a href="?page={{posts.previous_page_number}}" class="page-link">&laquo;</a>
                        </li>
                      {% else %}
                        <li class="page-item disabled">
                          <a class="page-link">&laquo;</a>
                        </li>
                      {% endif %}
                      {% for i in posts.paginator.page_range %}
                        {% if posts.number == i %}
                          <li class="page-item active">
                            <a class="page-link">{{i}}</a>
                          </li>
                        {% else %}
                          <li class="page-item">
                            <a href="?page={{i}}" class="page-link">{{i}}</a>
                          </li>
                        {% endif %}
                      {% endfor %}
                      {% if listings.has_next %}
                        <li class="page-item">
                          <a href="?page={{posts.next_page_number}}" class="page-link">&raquo;</a>
                        </li>
                      {% else %}
                        <li class="page-item disabled">
                          <a class="page-link">&raquo;</a>
                        </li>
                      {% endif %}
                    </ul>
                  {% endif %}
                </div>
              </div>
            </ul>
        </div> 
    <!-- End Middle Column -->
    </div>
    
    <!-- Right Column -->
    <div class="w3-col m2">
      {% include 'partials/_rightbar.html' %} 
      
    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
<!-- End Page Container -->
</div>
<br>
{% endblock %}
